<% if controller_name == 'posts' %>
  <span class='mr-3'><%= l(post.completed_at) %></span>
<% else %>
  <div class='mb-2'><%= "#{l(post.completed_at, format: :date)}に完了" %></div>
<% end %>
<% if current_user.own?(post) %>
  <%= link_to '未完了に戻す', post_uncomplete_path(post), method: :post, remote: true, class: 'btn btn-sm btn-warning' %>
<% end %>