<% if user_signed_in? %>
  <div class='row'>
    <aside class='col-md-4'>
      <%= render 'partial/users/user_aside' %>
    </aside>
    <div class='col-md-8'>
      <h2>タイムライン</h2>
      <div class='post'>
        <% @posts.each do |post| %>
          <%= render 'partial/posts/post_list', post: post %>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
<% end %>