.timeline {
  display: block;
  padding: 0;
  .card {
    width: 100%;
    .gravatar {
      float: left;
      margin-top: 5px;
      margin-right: 10px;
    }
    .user-name {
      margin-top: 5px;
      padding-top: 0;
    }
    .timestamp {
      color: gray;
      display: block;
    }
    .item-name {
      font-size: 16px;
    }
  }
}
.likes {
  display: inline-block;
  font-size: 14px;
  .heart-pink {
    color: #ff00ff;
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
}
.comments {
  display: inline-block;
  font-size: 14px;
}
.comment-form {
  display: inline-block;
  width: auto;
}