<% provide(:title, @title) %>
<div class='row'>
  <aside class='col-md-4'>
    <%= render 'partial/users/user_aside' %>
  </aside>
  <div class='col-md-8'>
    <h2><%= "#{@user.name}の#{@controller_name}一覧" %></h2>
    <% if @users.any? %>
      <%= render 'partial/users/users_list' %>
    <% else %>
      <ul><%= @controller_name %>はまだいません</ul>
    <% end %>
  </div>
</div>