<% provide(:title, 'コメントした投稿') %>
<div>
  <ul class='posts'>
    <% if @composts.any? %>
      <div class='post'>
        <% @composts.each do |post| %>
          <%= render 'partial/posts/post_list', post: post %>
        <% end %>
      </div>
    <% else %>
      <ul>コメントした投稿はまだありません</ul>
    <% end %>
  </ul>
  <%= paginate @composts %>
</div>