<% unless current_user?(user) %>
  <div id="follow-form-<%= user.id %>">
  <% if current_user.following?(user) %>
    <%= render 'partial/users/unfollow', user: user %>
  <% else %>
    <%= render 'partial/users/follow', user: user %>
  <% end %>
  </div>
<% end %>