<div class='stats'>
  <div>
    <%= link_to relationships_user_path(@user, link_name: 'following') do %>
      <span>フォロー数　｜　<%= @user.followings_count %>人</span>
    <% end %>
  </div>
  <div>
    <%= link_to relationships_user_path(@user, link_name: 'followers') do %>
      <span id='followers' class='stat'>フォロワー数｜　<%= @user.followers_count %>人</strong>
    <% end %>
  </div>
</div>