<div class='stats'>
  <div>
    <a href='<%= following_user_path(@user) %>'>
      <span>フォロー数　｜　<%= @user.followings_count %>人</span>
    </a>
  </div>
  <div>
    <a href='<%= followers_user_path(@user) %>'>
      <span id='followers' class='stat'>フォロワー数｜　<%= @user.followers_count %>人</strong>
    </a>
  </div>
</div>