@import 'reset.scss';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'tagsinput';
@import 'users/devise';
@import 'partial/user_aside';
@import 'partial/timeline_aside';
@import 'partial/posts_list';
@import 'partial/myitems_list';
@import 'partial/header';
@import 'items';
@import 'ranking';
@import 'home';

html {
  height: 100%;
}

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  padding-top: 66px;
}

li {
  list-style: none;
}

.page-title {
  margin: 15px 0px;
}

.tag {
  display: inline-block;
  margin-bottom: 3px;
}