@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'users/devise';
@import 'partial/user_aside';
@import 'partial/post_list';
@import 'partial/header';
@import 'partial/footer';

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}
.container {
  padding-top: 90px;
}

li {
  list-style: none;
}